body {
    background-image: url("iMages/test\ bg.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;

    text-align: center;
    }

h1 { /*tabหัวกระดาษ*/
    font-family: "Audiowide", sans-serif;
    font-size: 200%; 
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding-inline: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 button{ /*ปุ่ม home back*/
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-left: 8px;
}

.row { /*จัดให้ทุกสิ่งอย่างอยู่กลางหน้า*/
    text-align: center;
    display: flex;
    justify-content: center;
}
.image { /*กำหนดโลโก้หน้า index*/
    margin: 30px;
    width: 15%;
    height: auto;
}

.text-main { /*หัวข้อเกือบทุกหน้ามั้ง แก้แล้วลองเช็คด้วย*/
    font-family: 'Prompt', sans-serif;
    font-size: 200%; 
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 0.8;
}
.text-sub { /*ใช้ตรง output*/
    font-family: 'Prompt', sans-serif;
    font-size: 160%; 
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.button-white { /*ปุ่มหน้าindex*/
    font-family: 'Prompt', sans-serif;
    font-size: 170%; 
    color: #000000;
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 170px;
    height: 40px;
}
.button-white img { /*ไม่ได้ใช้แล้ว ตอนแรกมีไว้กำหนดรูปในปุ่มindex*/
    height: 10px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.container { /*ขอบเขตปุ่มหน้า 2 กับ 3*/
    width: 80%;
    margin: 0 auto;
    
}

/*ปุ่มหน้า 2 กับ 3*/
.button-page2 {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 12px 12px rgba(0,0,0,0.3);

    width: 180px;
    height: 180px;
    border-radius: 100px;

    padding: 0px 12px;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.button-page2 img {
    height: 100px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.button-page2 button{ 
    background-color: transparent;
    border: none;
}

.button-text { /*ข้อความในปุ่มหน้า 2 3*/
    font-family: 'Prompt', sans-serif;
    font-size: 120%; 
    color: #000000;
    line-height: 0.3;

    margin-top: 0px; 
    margin-bottom: 20px;
}

textarea {
    background-color: rgba(255, 255, 255, 0.4);
}

a {
    text-decoration: none;
}